@import "../../assets/sass/abstracts/vars";

.header {
  padding: 1rem;
  background-color: $color-blue-main;
  display: flex;
  justify-content: end;
}

.main {
  min-height: 5.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: .4rem .6rem .8rem rgba(34, 60, 80, 0.2);
  background-color: white;
}

.heading {
  font-size: 2.4rem;
  color: $color-blue-main;
  margin-left: 15rem;
  margin-bottom: .4rem;
}

.button {
  background-color: $color-blue-main;
  color: white;
  font-size: 1.6rem;
  margin-right: 15rem;
  margin-bottom: .4rem;
}

.userPhoto {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  margin-left: 2rem;

  & img {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    object-fit: cover;
  }

  & button {
    cursor: pointer;
  }
}

.transparentLoading {
  height: .4rem;
}
