@import "../sass/abstracts/vars";

.button {
  min-height: 3.5rem;
  cursor: pointer;
  padding: 0 2rem;
  border-radius: 0.375rem;
  background: #ffffff;
  color: #000000;
  letter-spacing: .1rem;
  font-family: inherit;
  transition: all .3s;
}

.all {
  background: $color-blue-main;
  color: #ffffff;
}

.active {
  background: $color-yellow-button;
}

.completed {
  background: $color-green-button;
}

.icon {
  & svg {
    width: 1.4em;
    height: 1.4em;
  }
}

.textField {
  font-family: inherit !important;
  font-size: 1.5rem !important;
}