@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
//
.block {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: #000;
}

.block > p {
  color: #fff;
  font-size: 3.4rem;
  letter-spacing: .2px;
  margin-bottom: 3rem;
}

.link {
  font-size: 2rem;
  text-transform: uppercase;

  &:visited {
    color: white;
  }
}
